doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/react/react.min.js')
    script(src='/bower_components/react/JSXTransformer.js')
    script(src='/bower_components/react-bootstrap/react-bootstrap.min.js')
  body
    block content